*{
	font-family: sans-serif;
}

#menubar{
	position: absolute;
	width: 99%;
	min-height: 5%;
	background-color: #cff4ff;
	display: flex;
	flex-direction: horizontal;
	font-size: 32px;
	justify-content: space-between;
	z-index: 1;
}

#buttons{
	flex-grow: 8;
	display: flex;
	flex-direction: horizontal;
	justify-content: flex-start;
}

#bell{
	height: 100%;
	display: flex;
}

#bell-img{
	height: 50px;
	width: 50px;
	object-fit: scale-down;
}

#button-chats{
	padding: 5px 7px 0px 5px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	background-color: #f2fcff;
}

#button-settings{
	padding-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

#menubar-mode-selector{
	margin-top: 10px;
	margin-right: 10px;
	padding-left: 30px;
	background-color: #f3f3f3;
	border: none;
	appearance: none;
	text-align: center;
	font-size: 0.8em;
	overflow: hidden;
	color: #000000;
	cursor: pointer;
}

#menubar-logo{
	text-align: center;
	padding-top: 5px;
	flex-grow: 1;
}

#contacts_table {
	margin-top: 10px;
	margin-left: 12px;
	width: 215px;
	border-collapse: collapse;
}

#contacts_table td {
	padding-left: 10px;
	height: 75px;
}

#contacts_table tr {
	border-bottom: 1px solid #e5e5e5;
}

#contacts_table tr:hover {
	background-color: #e5e5e5;
	cursor: pointer;
}

#contacts {
	padding-top: 10px;
	border: 1px solid #e5e5e5;
	width: 240px;
	height: 80vh;
	box-shadow: 3px 4px 3px #cacaca;
	float: left;
}


#chat {
	padding-top: 10px;
	border: 1px solid #e5e5e5;
	float: right;
	margin-left: 270px;
	width: 75%;
	height: 80vh;
	position: absolute;
	padding-left: 20px;
	padding-right: 20px;
}

#chat_placeholder {
	display: block;
	margin-top: 35vh;
	margin-left: 65vh;
	font-size: 2em;
	color: #acacac
}

.chat_placeholder_class {
	display: block;
	margin-top: 35vh;
	margin-left: 65vh;
	font-size: 2em;
	color: #acacac
}

#main {
	padding-top: 80px;
	position: relative;
	/* border: 1px solid black; */
}

.avatar_img {
	width: 50px;
	height: 50px;
}

.message_preview {
	margin-top: 10px;
	color: #777777;
}

.contact_name {
	font-weight: 700;
	padding-bottom: 10px;
}

#add_chat_icon {
	margin-top: 20px;
	margin-left: 85px;
	color: #888888;
	background-color: #f8f8f8;
	width: 80px;
	text-align: center;
}

#add_chat_icon:hover {
	cursor: pointer;
	color: #333333;
	background-color: #e5e5e5;
}

.chat_name {
	font-size: 1.5em;
	font-weight: 600;
	padding-right: 20px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
}

.chat_online_status {
	color: #6dff74;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.8em;
}

.chat_offline_status {
	color: #acacac;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.8em;
}

.chat_avatar {
	width: 65px;
	height: 65px;
	display: inline-block;
	vertical-align: middle;
}

.channel_selector_div {
	font-size: 1.5em;
	/* border: 1px solid black; */
	float: right;
	margin-right: 100px;
	margin-top: 15px;
}

.channel_selector {
	border-right: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	padding: 0px 20px 0px 20px;
}

.channel_selector:hover {
	background-color: #c9c9c9;
	cursor: pointer;
}

.selected {
	background-color: #f0f0f0;
}

.msg-box {
	width: fit-content;
	margin: 30px auto;
	border-radius: 15px;
	background: #e0f8ff;
	color: black;
	padding: 15px;
	text-align: center;
	font-weight: 600;
	font-family: arial;
	position: relative;
	font-size: 0.9em;
  }

  .right {
	  margin-right: 0px;
  }

  .left {
	  margin-left: 0px;
  }
  
  .right:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 15px solid #e0f8ff;
	border-right: 15px solid transparent;
	border-top: 15px solid #e0f8ff;
	border-bottom: 15px solid transparent;
	right: -16px;
	top: 0px;
  }
  
  .left:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 15px solid transparent;
	border-right: 15px solid #e0f8ff;
	border-top: 15px solid #e0f8ff;
	border-bottom: 15px solid transparent;
	left: -16px;
	top: 0px;
  }

  .chat_message_field_div {
	border: 1px solid black;
	position: absolute;
	bottom: 10px;
	width: 95%;
  }

  .message_input {
	font-size: 1.2em;
	height: 50px;
	border: 0px;
	width: 86%;
	padding-left: 10px;
	display: inline-block;
	vertical-align: middle;
  }

  .message_input:focus {
	  outline:none;
  }

  .fa-paper-plane {
	font-size: 1.5em; 
	display: inline-block; 
	vertical-align: middle; 
	color: #86dffa;
	margin-left: 20px;
  }

  .fa-paper-plane:hover {
	color: #a7eaff;
	cursor: pointer;
  }

  .fa-smile {
	font-size: 1.5em; 
	display: inline-block; 
	vertical-align: middle;
  }

  .fa-smile:hover {
	  color: #bbbbbb;
	  cursor: pointer;
  }

  .clip-icon {
	width: 40px; 
	height: 40px; 
	display: inline-block; 
	vertical-align: middle;
  }

  .clip-icon:hover {
	  cursor: pointer;
  }

  .time_marker {
	  color: #d4d4d4;
	  margin-top: -20px;
	  padding-left: 10px;
	  padding-right: 10px;
  }


  .modal-content {
	z-index: 2;
	display: none;
	position: fixed;
	top: 20px;
	right: 20px;
	background-color: #ececec;
	width: 30%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s
  }
  
  /* The Close Button */
  #modal_span {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }

  #after_popup {
	z-index: 2;
	display: none;
	position: fixed;
	top: 20px;
	right: 20px;
	background-color: #fafafa;
	border: 1px solid #d3d3d3;
	width: 30%;
	padding: 20px 20px 20px 20px;
	opacity: 100;
	text-align: center;
	font-size: 1.5em;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s;
  }

  #after_popup.hide{
	-webkit-animation: slideOut 0.4s ease both;
	animation: slideOut 0.4s ease both;
  }
  
  #modal_span:hover,
  #modal_span:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  
  .modal-header {
	padding: 2px 10px;
	background-color: #cccccc;
	color: white;
	height: 50px;
  }
  
  .modal-body {
	  padding: 10px 16px;
	  height: 110px;
	  
	}

  /* Add Animation */
@-webkit-keyframes slideIn {
	from {top: -300px; opacity: 0} 
	to {top: 20px; opacity: 1}
  }
  
@keyframes slideIn {
	from {top: -300px; opacity: 0}
	to {top: 20px; opacity: 1}
  }

@-webkit-keyframes slideOut {
	from {top: 20px; opacity: 1} 
	to {top: -300px; opacity: 0}
  }
  
@keyframes slideOut {
	from {top: 20px; opacity: 1}
	to {top: -300px; opacity: 0}
  }

#accept_button {
	color: #41adce; 
	padding-left: 10px;
}

#accept_button:hover {
	cursor: pointer;
	color: #6ac5e0;
}

#decline_button {
	color: rgb(221, 31, 31); 
	padding-left: 20px;
}

#decline_button:hover {
	cursor: pointer;
	color: rgb(230, 81, 81);
}

#change_modes_span {
	color: #5f5f5f; 
	float: right;
}

#change_modes_span:hover {
	cursor: pointer;
	color: #919191;
}

select:invalid {
	color: gray;
}

#change_modes_select {
	font-size: 1em;
	float: right;
	appearance: none;
	border: none;
	overflow: hidden;
	background-color: #ececec;
	color: #000000;
	cursor: pointer;
}

#change_modes_select:hover {
	color: #575757;
}